@font-face{
    font-family: "OpenSans-Regular";
    src: url('Font/OpenSans-Regular.ttf');
}
@font-face{
    font-family: "OpenSans-Light";
    src: url('Font/OpenSans-Light.ttf');
}
@font-face{
    font-family: "OpenSans-Semibold";
    src: url('Font/OpenSans-SemiBold.ttf');
}

body{
    font-family: "OpenSans-Regular";
    margin: 0px;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
a:active{
    color: #0097ff;
}
#header{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

#home, #contact{
    background-image: linear-gradient(87deg, #3846b4 0%, #243193 100%);
}
#home, #team, #contact {
    font-size: 14px;
    letter-spacing: 0px;
    font-family: "OpenSans-Regular";
    text-align: center;
}
#home, #contact{
    color: white;
}
#time_title{
    font-size: 20px;
    line-height: 34px;
    color: rgb(47,147,210);
    font-family: "OpenSans-Light";
}
#subscribe_01_text{
    font-size: 40px;
    line-height: 64px;
    color: rgb(255,255,255);
    font-family: "OpenSans-Regular";
    padding: 1em 0px;
}
#subscribe_01_form{
    height: 100px;
}


#email{
    font-size: 17px;
    color: rgb(87,102,119);
    font-family: "OpenSans-Regular";
    width: 90%;
    margin-right: 10%;
    height: 50px;
    padding-left: 1.5em;
    border-style: none;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}
#subsbutton{
    height: 50px;
    position: relative;
    top:-50px;
    z-index: 5;
    font-family: "OpenSans-Regular";
    font-size: 17px;
    line-height: 5px;
}
#team_title{
    font-size: 20px;
    font-family: "OpenSans-Regular";
    color: rgb(28,31,131);
}
#face1{
    background-image: url(pictures/face1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#face2{
    background-image: url(pictures/face2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#face3{
    background-image: url(pictures/face3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#face4{
    background-image: url(pictures/face4.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#contact_us{
    
font-size: 16px;
padding-bottom: 2em
}
#mail_to a{
    font-size: 20px;
    color: rgb(15,129,255);
    text-decoration: underline;
}
#lorem_ipsum{
    padding-top: 2em;
    padding-bottom: 4em;
    font-size: 15px;
    width: 370px;
    color: rgb(255,255,255);

}


@media screen and (max-width:990px) and (min-width:661px){

    #subscribe_01_text{
        font-size: 28px;
        padding-bottom: 120px;
        
    }
    #email{
        font-size: 14px;
        width:100%;
        margin-right: 3%;
    }
    #subsbutton p{
        display: none;
    }
    #subsbutton img{
        display: block;
        margin: auto;
    }
    #subsbutton{
        width: 56px;
        height: 50px;
        padding: 0px;
        border-radius: 26px;
    }
}

@media screen and (max-width:660px){
    #header{
        position: relative;
    }
    #subscribe_01_text{
        font-size: 28px;
        line-height: 34px;
        font-family: "OpenSans-Light";
        width: 270px;
        line-height: 44px;
        text-align: center;
        margin: auto;
        padding: 10px 0px;
    }
    #email{
        font-size: 14px;
        width:100%;
        margin-right: 3%;
    }
    #subsbutton img{
        display: block;
        margin: auto;
    }
    #subsbutton{
        width: 56px;
        height: 50px;
        padding: 0px;
        border-radius: 26px;
    }
    
    #subsbutton p{
        display: none;
    }
    #socialmedia_title{
        text-align: center;
        font-size: 20px;
        font-family: "OpenSans-Regular";
    }
    #social_media{
        justify-content: center;
    }
    #team_title{
        padding: 45px 0px;
    }
    #light_logo img{
        margin: auto;
        padding:30px 0px;
    }
    #contact_us{
        padding-top: 4em;
    }
    #lorem_ipsum{
        padding: 30px 10px;
    }
    #faq{
        padding: 0px 20px;
        border-left: solid 2px #0097ff;
        border-right: solid 2px #0097ff;
    }
    #copyright{
        padding: 30px 0px;
    }
}