* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.desctop{
    display:block;
}
.mobile{
    display: none;
}
.slider_row{
    display: none;
}
img {
    display: block;
}
input{
    outline: none;
}
button{
    outline: none;
}
button:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  button:active{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
.button {
    width: 158px;
    padding: 1em 2em;
    border-radius: 26px;
    background-color: #38a5db;
    border-style: none;
    color: white;
   
}
.grid {
    margin: 0 auto;
    /*max-width: 85%;*/
    width: 85%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0.5em 0px;
   /*border: 1px solid red;*/
}
.float{
    float: right;
}
.fontblue{
font-size: 20px;
line-height: 34px;
color: rgb(47,147,210);
font-family: "OpenSans-Light";
text-align: right;
}
.fontwhite{
    width: 100%;
    padding: 0px, 10px;
font-size: 17px;
line-height: 26px;
color: rgb(255,255,255);
font-family: "OpenSans-Light";
text-align: left;
padding: 20px 0px;
}
.revers_flex{
    flex-direction: row-reverse;
}
.paddingtop71{
    padding-top: 71px;
}
.paddingtop{
    padding-top: 3em;
}
.paddingtop8em{
    padding-top: 8em;
}
.paddingbottom{
    padding-bottom:3em;
}
.paddingbottom1{
    padding-bottom: 1em;
}
.justify_end{
    justify-content: flex-end;
}
.justify_start{
    justify-content: flex-start;
}
.justify_center{
    justify-content: center;
}
.align_center{
    align-items: center;
}
.align_down{
    align-content:flex-end;
}
.item_down{
    align-self: flex-end;
}
.item_center{
    align-self: center;
}
.text_left{
    text-align: left;
}
.text_end{
    text-align: end;
}

.button_center{
    margin: auto;
    max-width: 50px;
}
.social_icons{
    max-width: 50px;
    margin-left: 2%;
}
.footer_menu{
    font-size: 14px;
    letter-spacing: 0px;
    color: rgb(165, 165, 165);
    font-family: "OpenSans-Regular";
    text-align: center;
}
.fm_border{
    border-left: 2px solid #0097ff;
}
.menu{
    display: flex;
    justify-content: flex-end;
   color: rgb(28,32,133);
   font-family: "OpenSans-Regular";
   font-size: 16px;
}
.menu_item{
    padding-left: 4em;
}
.timer{
    display: flex;
}
.timer_block{
    border: 0.5px solid #8186f4;
    border-radius: 6px;
    font-size: 25px;
    font-family: "OpenSans-Light";
    width: 70px;
    padding: 7px;
    text-align: center;
}
.colon{
        font-size: 25px;
        font-family: "OpenSans-Regular";
        color:#8186f4;
        text-align: center;
        padding: 5px;
        width: 1.2em; 

}
.video {
    border-radius: 6px;
    /*padding: 2em 5em;*/
    width: 85%;
    height: 290px;
    display: flex;
    background: url(video.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.video_button{
    display: flex;
    width: 4em;
    height: 4em;
    margin: auto;
    border-radius: 5em;
    background-color: #38a5db;
    border-style: none;
    padding-left: 0.4em;
}
.video_triangle{
    margin: auto;
    width: 0;
    height: 0;
    border-left: 1.2em solid white;
    border-bottom: 0.7em solid transparent;
    border-top: 0.7em solid transparent;
}
.buttonshadow {
    box-shadow: 1px 2px 6px rgb(0, 0, 0);
}
.socialmedia{
    padding-top: 1em;
    padding-bottom: 3em;
}
.person{
    width: calc(25% - 10px);
    border-radius: 4px;
    box-shadow: 1px 2px 6px 0px grey;
    margin:5px 5px 60px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.person_picture{
    width: 135px;
    height: 135px;
    border-radius: 5px;
    background-color: #38a5db;
    margin-top:2em;
}
.person_name{
    width: 100%;
    font-size: 18px;
    margin-top:1em;
    color: rgb(17,137,211);
}
.person_position{
    font-size: 13px;
    letter-spacing: 0px;
    color: rgb(1,18,38);
}
.person_description{
    font-size: 17px;
    line-height: 29px;
    color: rgb(69,81,95);
    font-family: "OpenSans-Regular";
    margin: 1.5em 1em;
}
.person_social{
    padding-bottom:6em;
}
.ps_icon{
    width: 43px;
height: 23px;
border-radius: 3px;
border: 1px solid #7f8b98;
background-color: white;
}
.ps_icon img{
    display: block;
    width: 11px;
    height: 12px;
    margin: auto;
}

.contact_button{
    width: 220px;
    font-size: 16px;
    font-weight: bold;
}
.contact_center{
    width: 100%;
}
/**********modal style*******/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.616); /* Black w/ opacity */
}
.modal-content {
    margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 100%; /* Could be more or less, depending on screen size */
}
.modal-content iframe{
    width: 560px;
    height: 315px;
}
iframe{
display: block;
margin:auto;
}

@media screen and (max-width:990px) and (min-width:661px){

    .video{
        width: 100%;
        height: 250px;
    }
    .paddingbottom{
        padding-bottom: 1em;
    }
    .paddingtop{
        padding-top: 1em;
    }
    .desctop{
        display: none;
    }
    .tablet{
        display: block;
    }
    .person{
        width: calc(50% - 10px);
    }
    
}
@media screen and (max-width:660px) {
    [class*="col-"] {
        width: 100%;
       /*border: 1px solid red;*/
    }
    .desctop{
        display: none;
    }
    .tablet{
        display: none;
    }
    .mobile{
        display: block;
    }
    .hide{
        display: none;
    }
    .paddingtop71{
        padding-top: 20px;
    }
    .paddingtop{
        padding-top: 5px;
    }
    .paddingtop8em{
        padding-top: 2em;
    }
    .grid{
        width: 90%;
    }
    .text_left{
        text-align: center;
    }
    .text_end{
        text-align: center;
    }
    .timer_block{
        font-size: 18px;
        width: 53px;
        padding: 3px;
        border-radius: 2px;
        margin: auto;
    }
    .colon{
        font-size: 18px;
        width: 30px;
    }
    .video {
        width: 100%;
        height: 190px;
    }
    .modal-content iframe{
        width: 100%;
    }
    .fontwhite{
        font-size: 16px;
        line-height: 26px;
        width: 270px;
        margin: auto;
        text-align: center;
    }
    .social_icons{
        margin: auto;
    }
    .person{
        padding: 0px;
        width: calc(100% - 10px);
        margin: 5px;
    }
    .person_position{
        padding-top: 10px;
    }
    .person_description{
        padding: 20px 10px;
        margin: auto;
        font-size: 17px;
    }
    .person_social{
        padding-bottom: 20px;
    }
        /*********slider*****/
    .slider_row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding: 10px 0px;
    }
    .slider{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(190, 190, 190);
        margin: 0px 15px;
    } 
   .slider:active{
       background-color: #7f8b98;
   }
    
    .contact_button{
        height: 46px;
    }
    .footer_links{
        margin:auto;
    }
}