* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
img {
    display: block;
}
.button {
    width: 158px;
    padding: 1em 2em;
    border-radius: 26px;
    background-color: #38a5db;
    border-style: none;
    color: white;
}
.grid {
    margin: 0 auto;
    max-width: 85%;
    width: 100%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0.5em 0px;
   /*border: 1px solid red;*/
}

.fontblue{
font-size: 20px;
line-height: 34px;
color: rgb(47,147,210);
font-family: "OpenSans-Light";
text-align: right;
}
.fontwhite{
    width: 100%;
    padding: 0px, 10px;
font-size: 17px;
line-height: 26px;
color: rgb(255,255,255);
font-family: "OpenSans-Light";
text-align: left;
padding: 20px 0px;
}
.revers_flex{
    flex-direction: row-reverse;
}
.paddingtop71{
    padding-top: 71px;
}
.paddingtop{
    padding-top: 3em;
}
.paddingbottom{
    padding-bottom:3em;
}
.paddingbottom1{
    padding-bottom: 1em;
}
.justify_end{
    justify-content: flex-end;
}
.justify_start{
    justify-content: flex-start;
}
.justify_center{
    justify-content: center;
}
.align_center{
    align-items: center;
}
.align_down{
    align-content:flex-end;
}
.item_down{
    align-self: flex-end;
}
.item_center{
    align-self: center;
}
.text_left{
    text-align: left;
}
.text_end{
    text-align: end;
}

.button_center{
    margin: auto;
    max-width: 50px;
}
.social_icons{
    max-width: 50px;
    margin-left: 2%;
}
.footer_menu{
    font-size: 14px;
    letter-spacing: 0px;
    color: rgb(165, 165, 165);
    font-family: "OpenSans-Regular";
    text-align: center;
}
.fm_border{
    border-left: 2px solid #0097ff;
}
.menu{
   color: rgb(28,32,133);
   font-family: "OpenSans-Regular";
   font-size: 16px;
}
.timer{
    display: flex;
}
.timer_block{
    border: 0.5px solid #8186f4;
    border-radius: 6px;
    font-size: 25px;
    font-family: "OpenSans-Light";
    width: 70px;
    padding: 7px;
    text-align: center;
}
.colon{
        font-size: 25px;
        font-family: "OpenSans-Regular";
        color:#8186f4;
        text-align: center;
        padding: 5px;
        width: 1.2em; 

}
.video {
    border-radius: 6px;
    /*padding: 2em 5em;*/
    width: 85%;
    max-height: 330px;
    display: flex;
    background: url(video.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.video_button{
    display: flex;
    width: 4em;
    height: 4em;
    margin: auto;
    border-radius: 5em;
    background-color: #38a5db;
    border-style: none;
    padding-left: 0.4em;
}
.video_triangle{
    margin: auto;
    width: 0;
    height: 0;
    border-left: 1.2em solid white;
    border-bottom: 0.7em solid transparent;
    border-top: 0.7em solid transparent;
}
.person{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.person_picture{
    width: 135px;
    height: 135px;
    border-radius: 5px;
    background-color: #38a5db;
}
.person_name{
    width: 100%;
    font-size: 18px;
    margin-top:1em;
    color: rgb(17,137,211);
}
.person_position{
    font-size: 13px;
    letter-spacing: 0px;
    color: rgb(1,18,38);
}
.person_description{
    font-size: 17px;
    line-height: 29px;
    color: rgb(69,81,95);
    font-family: "OpenSans-Regular";
    padding: 10px;
    margin: 1.5em 0px;
}
.person_social{
    padding-bottom: 6em;
}
.ps_icon{
    width: 43px;
height: 23px;
border-radius: 3px;
border: 1px solid #7f8b98;
background-color: white;
}
.ps_icon img{
    display: block;
    width: 11px;
    height: 12px;
    margin: auto;
}
.contact_button{
    width: 220px;
    font-size: 16px;
    font-weight: bold;
}
.contact_center{
    width: 100%;
}
@media screen and (max-width:680px) {
    [class*="col-"] {
        width: 100%;
       /*border: 1px solid red;*/
    }
    .hide{
        display: none;
    }
    .video {
        width: 100%;
        height: 150px;
    }
}